

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f7f7f7;
}

.home {
  width: 80%; 
  margin: 0px auto 20px; 
  padding: 80px;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* background: #000428;  
background: -webkit-linear-gradient(to left, #004e92, #000428);  
background: linear-gradient(to left, #004e92, #000428);  */

 background: #00c6ff;  
background: -webkit-linear-gradient(to left, #0072ff, #00c6ff);  
background: linear-gradient(to left, #0072ff, #00c6ff); 

  
  color: #fff; 
  padding: 10px 0;
  text-align: center;
  z-index: 1000;
}

.header h1 {
  margin: 0;
  background-image: linear-gradient(60deg, #0072ff, #7821d5);
  background-clip: text;
  color: transparent;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top a h2 {
  margin: 0;
  color: #fff;
  font-size: 18px; 
}

.search {
  display: flex;
  align-items: center;
}

.search input {
  padding: 10px;
  margin-right: 5px; 
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.search-icon {
  cursor: pointer;
  font-size: 20px;
}

.filters {
  display: flex;
  flex-direction: column; 
  align-items: center;
  margin: 20px 0;
  position: absolute;
  top: 10%; 
  left: 35%;

}
.type-genre-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px; 
}

.filter {
  cursor: pointer;
  padding: 10px 20px;
  margin: 0 10px;
  border: 2px solid #007bff;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
}

.filter:hover,
.filter.selected {
  background-color: #007bff;
  color: #fff;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.genre-btn {
  cursor: pointer;
  padding: 10px 20px;
  margin: 0 10px;
  border: 2px solid #007bff;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
}

.genre-btn:hover,
.genre-btn.selected {
  background: #FF416C;  
  background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);  
  background: linear-gradient(to right, #FF4B2B, #FF416C); 
  
  color: #fff;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 250px;
}
.container > :nth-child(-n + 4) {
  margin-bottom: 100px; 
}
.empty {
  text-align: center;
  margin-top: 50px;
  color: #555;
  font-size: 20px;
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%,-50%);
}

/* MovieCard.css */

.movie {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  /* margin-top: -100px; */
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
}

.movie:hover {
  transform: scale(1.05);
}

.movie div {
  padding: 10px;
  
}

.movie img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #eee;
}

.movie span {
  font-size: 14px;
  color: #555;
}

.movie h3 {
  font-size: 18px;
  margin: 5px 0;
}

.btn {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: #36D1DC;  
  background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);  
  background: linear-gradient(to right, #5B86E5, #36D1DC); 
  
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.btn:hover {
  background: #0575E6;  
  background: -webkit-linear-gradient(to right, #021B79, #0575E6);  
  background: linear-gradient(to right, #021B79, #0575E6); 
  
}
.details {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.details img {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
  background: #e0e0e0;
  box-shadow:  -37px 37px 85px #a1a1a1,
               37px -37px 85px #ffffff;
  margin-bottom: 10px;
}

.details p {
  font-size: 16px;
  color: #333;
  margin-left:50px;
}
.spinner {
  width: 44px;
  height: 44px;
  animation: spinner-y0fdc1 2s infinite ease;
  transform-style: preserve-3d;
 }
 
 .spinner > div {
  background-color: rgba(0,77,255,0.2);
  height: 100%;
  position: absolute;
  width: 100%;
  border: 2px solid #004dff;
 }
 
 .spinner div:nth-of-type(1) {
  transform: translateZ(-22px) rotateY(180deg);
 }
 
 .spinner div:nth-of-type(2) {
  transform: rotateY(-270deg) translateX(50%);
  transform-origin: top right;
 }
 
 .spinner div:nth-of-type(3) {
  transform: rotateY(270deg) translateX(-50%);
  transform-origin: center left;
 }
 
 .spinner div:nth-of-type(4) {
  transform: rotateX(90deg) translateY(-50%);
  transform-origin: top center;
 }
 
 .spinner div:nth-of-type(5) {
  transform: rotateX(-90deg) translateY(50%);
  transform-origin: bottom center;
 }
 
 .spinner div:nth-of-type(6) {
  transform: translateZ(22px);
 }
 
 @keyframes spinner-y0fdc1 {
  0% {
   transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
  }
 
  50% {
   transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
  }
 
  100% {
   transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
  }
 }