* {
  font-family: Nunito, sans-serif;
}
  
  
    
    .cardetails {
      display: flex;
      flex-wrap: wrap;
      height: 80vh; 
      box-shadow: 0 20px 40px rgba(0, 0, 0, 0.30);
      margin-top:50px;
    }
    .path{
      display: flex;
    }
    .path img{
      margin-top: 90px;
      width: 5%;
    }
    .path h2{
      margin-top: 90px;
      margin-left: -482px;
      color: black;
    }
    .cardetails .cardimage img{
      width: 60vh; /*size of card detail*/
      height: 63vh;
      margin-left: 15px;
    }
    .recomcard{
      display: inline-flex;
    }
    .cardcontent {
      width: 129vh; /*size of card detail*/
      height: 74vh;
      background: #FFF;
      padding: 1rem;
    }
    .reccommend{
      border:5px solid rgb(0, 85, 128);
    }
    .cardtitle {
      margin-top: 2rem;
      font-size: 2.5rem;
      font-weight: 900;
      background: #ECE9E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
    }
    
    .info {
      margin-top: 0.5rem;
      text-align: justify;
      font-size: 1.49rem;
      font-weight: 500;
      line-height: 1.6;
      color: #424141;
    }
    
    .cardconfig {
      margin-top: 0.5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    
    .cardconfig .rating {
      font-size: 2rem;
    }
    
    .stars {
      display: flex;
      gap: 0.5rem;
    }
    
    .stars .ratescale {
      width: 24px;
      height: 24px;
      padding: 2px;
      display: inline-block;
    }
    
    .watchlist {
      margin-top: 2rem;
      display: flex;
      gap: 0.5rem;
    }
  .cart{
      background: #F2994A;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to left, #F2C94C, #F2994A);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to left, #F2C94C, #F2994A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      
    }
    .spinner {
      width: 44px;
      height: 44px;
      animation: spinner-y0fdc1 2s infinite ease;
      transform-style: preserve-3d;
      position: absolute;
      top: 50%; 
      left: 50%;
      transform: translate(-50%,-50%);
     }
     
     .spinner > div {
      background-color: rgba(0,77,255,0.2);
      height: 100%;
      position: absolute;
      width: 100%;
      border: 2px solid #004dff;
     }
     
     .spinner div:nth-of-type(1) {
      transform: translateZ(-22px) rotateY(180deg);
     }
     
     .spinner div:nth-of-type(2) {
      transform: rotateY(-270deg) translateX(50%);
      transform-origin: top right;
     }
     
     .spinner div:nth-of-type(3) {
      transform: rotateY(270deg) translateX(-50%);
      transform-origin: center left;
     }
     
     .spinner div:nth-of-type(4) {
      transform: rotateX(90deg) translateY(-50%);
      transform-origin: top center;
     }
     
     .spinner div:nth-of-type(5) {
      transform: rotateX(-90deg) translateY(50%);
      transform-origin: bottom center;
     }
     
     .spinner div:nth-of-type(6) {
      transform: translateZ(22px);
     }
     
     @keyframes spinner-y0fdc1 {
      0% {
       transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
      }
     
      50% {
       transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
      }
     
      100% {
       transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
      }
     }